Binaries
DerivedDataCache
Intermediate
Saved

!Content/
Content/*
!Content/GAME/
Content/GAME/*
!Content/GAME/Blueprints/
!Content/GAME/Game/
!Content/GAME/Materials/
!Content/GAME/PCG/

.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.vsconfig

